@model InventoryMgmtSystem.Models.ProductVm

<div class="container mt-4">
    <div class="card shadow-sm rounded-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Create Product</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter product name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Code" class="form-label"></label>
                    <input asp-for="Code" class="form-control" placeholder="Enter product code"/>
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CostPrice" class="form-label"></label>
                    <input asp-for="CostPrice" class="form-control" placeholder="Enter product code"/>
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UnitId" class="form-label">Unit</label>
                    <select asp-for="UnitId" asp-items="Model.Units" class="form-select">
                        <option value="">-- Select Unit --</option>
                    </select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select">
                        <option value="">-- Select Category --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter product description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mt-4 d-flex gap-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save me-1"></i> Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-x-circle me-1"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
